/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --nav-color: var(--color-accent-dark);
  --nav-color-hover: var(--hover-accent-dark);
  --header-title-color: var(--color-focus-dark);
  --header-text-color: var(--text-color-title-dark);
  --title-shadow-color: var(--color-accent-dark);
  --text-color-heading: var(--color-accent-dark);
  --bg-color-text: var(--color-accent-dark);
  --title-color: var(--text-color-title-dark);
  --text-block-color: var(--text-color-title-dark);
  --text-color: var(--text-color-text-dark);
  --accent-color: var(--color-accent-dark);
  --background-image: url(../images/cover-image-dark.png);
  --background-color: var(--bg-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-color: var(--color-accent-dark);
    --nav-color-hover: var(--hover-accent-dark);
    --header-title-color: var(--color-focus-dark);
    --header-text-color: var(--text-color-title-dark);
    --title-shadow-color: var(--color-accent-dark);
    --text-color-heading: var(--color-accent-dark);
    --bg-color-text: var(--color-accent-dark);
    --title-color: var(--text-color-title-dark);
    --text-block-color: var(--text-color-title-dark);
    --text-color: var(--text-color-text-dark);
    --accent-color: var(--color-accent-dark);
    --background-image: url(../images/cover-image-dark.png);
    --background-color: var(--bg-color-dark);
  }
}

.theme-dark .rec::before {
  display: inline-block;
}

.theme-dark .rec::after {
  display: inline-block;
}
